


body {
  margin: 0;
  background-color: #252525;
  padding: 0;
}

nav {
  background-color: #252525;
  color: #fff;
  display: flex;
  align-items: center; /* Vertically center the logo and text */
  padding: 8px;
  height: 97px;
}

ul {
  list-style: none;
  padding: 10;
  display: flex;
  justify-content: space-around;
  align-items: center; /* Vertically center the navigation items */
}

li {
  margin: 10;
  padding: 10;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 0;
}

/* Add styles for the .logo class */
.logo {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 20px; /* Adjust this value to push the logo down */
}

.name {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 20px; /* Adjust this value to push the name image down */
}

