@media (max-width: 768px) {
  .nav-container {
    flex-direction: row;
}
}

@media (max-width: 480px) {
}

body {
  margin: 0;
  background-color: #252525;
  padding: 0;
}

.nav {
  display: flex;
  align-items: center;
  
}
.navList {
  display: flex;
  flex-direction: row;
}
.nav-container {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
}


ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 2px;
  justify-content: space-around;
}
.logo {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-top: 50px; /* Adjust this value to push the logo down */
}

.name {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 20px; /* Adjust this value to push the name image down */
}